@import "theme/variables.scss";
@import "../../node_modules/uikit/src/scss/variables-theme.scss";
@import "../../node_modules/uikit/src/scss/mixins-theme.scss";
@import "components/components.scss";
@import "theme/_imports.scss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Amiri";
}

body {
  background-color: $global-background;
  font-family: "Lato";
}

label,
select {
  font-family: "Lato", sans-serif;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.uk-navbar-nav {
  font-weight: 100;
}

.uk-navbar-nav > li > a {
  text-transform: none;
}

///////////////////////////////////////// SHOP \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

.productGrid {
  display: grid;
  grid-gap: 2rem;

  @media only screen and(min-width:600px) {
    grid-template-columns: 1fr 1fr;
  }
  @media only screen and(min-width:900px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.productList__hover {
  transition: transform ease-in-out 0.3s;
  &:hover {
    transform: scale(1.02);
  }
}

.product__main {
  margin: 2rem;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;
}

.product__image {
  @media only screen and(min-width:600px) {
    height: 10rem;
  }
}

.product__info {
  text-align: center;
  padding-top: 1rem;
  color: #56665f;

  h5,
  h6 {
    font-weight: normal;
    margin: 0;
  }

  h5 {
    font-size: 1.5rem;
  }
}

.productDetail__grid {
  @media only screen and(min-width:900px) {
    display: flex;
    margin: 2rem;

    > div {
      width: 50%;
    }

    > div:nth-child(2) {
      text-align: left;
      margin-left: 2rem;
    }
  }
}

/////////////////////////////////////////////////////////////// CART //////////////////////////////////////////////////////////////////////////

.cart__header {
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr 40px;
  font-weight: bold;

  > div {
    padding: 8px;

    &:first-child {
      > div:first-child {
        font-weight: bold;
      }

      > div:last-child {
        color: #999;
        margin-top: 4px;
        font-size: 14px;
      }
    }
  }
}

.cart__item {
  margin: auto;
  text-align: center;
  @media only screen and(min-width:800px) {
    display: grid;
    grid-template-columns: 2fr 2fr;
    text-align: right;

    > div:nth-child(2) {
      justify-self: center;
    }
  }
}

.cart__quantity {
  width: min-content;
  margin: auto;
  padding: 1rem 0;
}

.cart__item__product {
  @media only screen and(min-width:800px) {
    display: flex;
    justify-content: flex-start;
    text-align: left;
  }

  > div {
    padding: 5px;
  }

  img {
    object-fit: cover;
    width: 50%;
    max-height: 100px;
    max-width: 100px;
  }
}

.cart__total {
  // @media only screen and(min-width:800px) {
  //   border-bottom: 1px solid black;
  //   display: grid;
  //   grid-template-columns: 5fr 1fr 40px;

  //   > div {
  //     padding: 8px;

  //     &:first-child {
  //       text-align: right;
  //     }
  //   }
  // }
}

.cart__footer {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  margin-top: 1rem;

  // > div:last-child {
  //   text-align: right;
  // }
}

//HEADER

header {
  overflow: hidden;
  padding: 1rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.header__title {
  height: 7rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  img {
    height: 50px;
    margin: 0;
  }

  @media only screen and (min-width: 700px) {
    position: relative;
    left: 0%;
  }
}

.header__links {
  display: none;
  position: relative;
  margin-left: 3rem;
  top: -20px;

  & > * {
    margin-left: 1.5rem;

    &:hover {
      text-decoration: underline;
    }
  }

  &:last-child {
    right: 0;
  }

  @media only screen and (min-width: 700px) {
    display: inline;
  }
}

.header__active {
  font-weight: bolder;
}

.header__content {
  max-width: 1400px;
  margin: auto;
  position: relative;
  height: 3.5rem;
}

.header__cart {
  position: absolute;
  right: 0;
  top: 10px;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;

  img {
    height: 25px;
    margin: 0;
  }

  p {
    display: inline;
    position: relative;
    top: -7px;
  }
}

.header__menuIcon {
  border: none;
  background: none;
  outline: none;
  position: absolute;
  top: 1px;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 6000;

  @media only screen and (min-width: 700px) {
    display: none;
  }
}

.line {
  width: 2rem;
  height: 2px;
  display: block;
  margin: 6px auto;
  transition: all 0.3s ease-in-out;
  border-radius: 30px;
  background-color: #656565;
}

.clicked-menu .line {
  background-color: white;
  z-index: 5200;
}

.clicked-menu .line:nth-child(2) {
  opacity: 0;
}

.clicked-menu .line:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.clicked-menu .line:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.menu__main {
  height: 100%;
  width: 75%;
  position: fixed;
  top: 0;
  left: -75%;
  background-color: #41484e;
  color: white;
  padding-top: 5rem;
  z-index: 5000;
  transition: opacity 700ms step-start,
    transform 700ms cubic-bezier(0.8, 0, 0.55, 0.94),
    visibility 700ms step-start,
    background-color 700ms cubic-bezier(0.8, 0, 0.55, 0.94);
}

.menu__list {
  list-style-type: none;
  opacity: 0;
  font-size: 1.5rem;

  transition: opacity 700ms cubic-bezier(0.8, 0, 0.55, 0.94) 300ms;

  @media only screen and (min-width: 700px) {
    padding-left: 5rem;
  }
}

.menu__listItem {
  margin-top: 1.5rem;
  display: block;
  font-weight: 300;
  letter-spacing: 5px;
  transition: all 0.3s linear;
  position: relative;
}

.menu__listItem {
  position: relative;
  width: fit-content;
}

.menu__listItem:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.menu__listItem:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.is-active {
  transform: translate3d(100%, 0, 0);

  .menu__list {
    opacity: 1;
  }
}
