// Use ../node_modules/uikit/src/scss/variables.scss as guidelines
$global-link-color: #56665f;
$global-link-hover-color: #808080;
$base-link-hover-text-decoration: none;
$global-background: #ffff;
$global-primary-background: #6c6c6c;
$global-secondary-background: #8fb0cc;

$global-color: #56665f;
$global-muted-color: #808080;
$base-heading-font-family: "Amiri", sans-serif;
$base-body-font-family: "Lato", sans-serif;
$global-font-family: "Lato", sans-serif;
$global-font-size: 18px !default;
$nav-header-text-transform: none !default;
$base-blockquote-color: $global-color !default;
$global-small-font-size: 0.875rem !default;
$base-blockquote-font-size: $global-small-font-size !default;

$card-default-background: $global-background;
$card-hover-background: $global-background;
